@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$primary: #ff36ff;
$secondary: #10003b;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
);
// (Required) Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

a {
    color: $primary;
}

@import './fonts';
@import './buttons';
@import './notifications';
@import './industry';
@import './app.scss';
@import './transition.css'
